# Processing / MinIO / Iceberg credentials
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

# Airflow metadata DB credentials
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow_password
AIRFLOW_POSTGRES_DB=airflow

# Airflow admin user bootstrap credentials
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_ROLE=Admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
